RewriteEngine On

# If requested file exists in subdirectory static, redirect request there.
RewriteCond %{DOCUMENT_ROOT}/static/$1 -f
RewriteRule ^(.*)$ static/$1 [NC,L]

# If file does not exist, redirect to index.php.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?uri=$1 [NC,L]
