RewriteEngine On

RewriteRule ^css/(.*) frontend/css/$1 [L]
RewriteRule ^fonts/(.*) frontend/fonts/$1 [L]
RewriteRule ^img/(.*) frontend/img/$1 [L]
RewriteRule ^js/(.*) frontend/js/$1 [L]
RewriteRule ^backend backend/index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ backend/index.php?uri=$1 [L]
