body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: black;
	color: white;
}

.container {
	height: 100%;
	width: 100%;
}

#footer {
	width: 100%;
	
	position: absolute;
	bottom: 0;
	
	padding: 0.5em;
	
	border-top: 1px solid #777;
	
	color: #777;
	font-family: 'Helvetica', sans-serif;
	font-size: 0.8em;
}

#footer a {
	color:#777;
	text-decoration: none;
}

#footer a:link {}
#footer a:visited {}
#footer a:hover {
	color:#FFF;
	text-decoration: underline;
}
#footer a:active {
	color:#FFF;
	text-decoration: underline;
}

.bl_center {
	display: block;
	width: 10em;
	height: 1.4em;
	
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	padding-top: 1em;
	padding-bottom: 1em;
	
	text-align: center;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-size: 3em;
	text-decoration:none;
	color: white;
	
	outline-style: dashed;
	outline-color: white;
	outline-width: 2px;
}

.bl_center:hover {
	color: white;
	outline-style: solid;
}

.bl_center:active {
	color: white;
	outline-style: solid;
}

#user_bar {
	padding: 0.5em;
	
	border-bottom: 1px solid #777;
	
	color: #777;
	font-family: 'Helvetica', sans-serif;
	font-size: 0.8em;
}

#user_profile {
	border-spacing: 0.5em;
	border-collapse: separate;
}